.create-name-view {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 25px;

  &__skeleton {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  &__body {
    display: flex;
    gap: 20px;
    width: 100%;
    height: 100%;

    &-left {
      width: 60%;
    }
  }

  &__form {
    display: flex;
    gap: 5px;
  }

  &__file-form {
    .n-upload-trigger {
      width: 100%;
    }

    .n-upload-trigger .n-button {
      width: 100%;
      box-sizing: border-box;
    }

    &_input-row {
      display: flex;
      gap: 5px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__redact {
    display: flex;
    justify-content: center;
  }

  &__redact-btn {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 5px;
  }

  &__add-btn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 10px;
  }
}