*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  text-size-adjust: 100%;
}

body {
  min-height: 100vh;
  font-family: sans-serif;
  line-height: 1.6;
  text-rendering: optimizeSpeed;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

button {
  all: unset;
  cursor: pointer;
}

input,
textarea,
select {
  font: inherit;
  border: none;
  outline: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

#app {
  max-width: 1280px;
  margin: auto;
}

.app-input {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.app-input span {
  font-size: 16px;
  opacity: 0.8;
}

.n-divider {
  margin: 0 !important;
}

:root {
  --shine-duration: 5s;
  /* скорость движения */
  --shine-color-light: #f0f0f0;
  /* светлый фон */
  --shine-color-dark: #e0e0e0;
  /* чуть темнее фон */
}

.shine-screen {
  position: fixed;
  inset: 0;
  z-index: 9999;
  pointer-events: none;
  /* клики проходят сквозь */
  background: linear-gradient(90deg,
      var(--shine-color-dark) 0%,
      var(--shine-color-light) 20%,
      var(--shine-color-dark) 40%,
      var(--shine-color-dark) 100%);
  background-size: 200% 100%;
  animation: shine-move var(--shine-duration) linear infinite;
  opacity: 0.5;
}

@keyframes shine-move {
  from {
    background-position: 0% 0;
  }

  to {
    background-position: -200% 0;
  }
}